@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --birdong: #0b4970;
    --orenterang: #F45905;
    --orenpastel: #FB9224;
    --kuning: #FBE555;
    --font-family: 'Poppins', sans-serif;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
    --transition: all 0.3s ease;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--birdong);
}

.home .content h1 {
    font-size: clamp(3em, 5vw, 5em);
    font-weight: 1200;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: var(--birdong);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

a:hover,
button:hover {
    transition: var(--transition);
}

.home .media-icons a:hover {
    transform: scale(1.1);
}

@media (max-width: 1040px) {
    section {
        padding: 50px 40px;
    }
}